<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/content.css') }}">
</head>

<body>
    <div class="header">
        <h2>Issuance of loans</h2>
    </div>
    <div id="main">
        <div class="menu-and-add-button">
            {% block HorizontalNavigationBar %}
            {% endblock %}
        </div>
        {% block addDateandrefresh %}
        {% endblock %}
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>

</html>