<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/content.css') }}">
</head>

<body>
    <div class="header">
        <h2>Issuance of loans</h2>
    </div>
    <div id="main">
        <div class="menu-and-add-button">
            <div class="Horizontal-Navigation-Bar">
                {% block HorizontalNavigationBar %}
                {% endblock %}
            </div>
            <a href="add_loan_issuance.html" id="add-button">Add</a>
        </div>
        <div id="add-Date-and-refresh">
            <form action="#" id="form_date">
                <label for="date_from">Date from: </label>
                <input type="date" id="date_from" name="date_from">
                <label for="date_by">by: </label>
                <input type="date" id="date_by" name="date_by">
            </form>
            <div id="refresh-position">
                <a href="#" id="refresh"><img src="{{ url_for('static', filename='images/refresh.png') }}" alt="refresh"></a>
            </div>
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>

</html>